body {
    background-image: url('https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
    margin: 0;
    
    @include displayFlex;
    @include justifyContentCenter;
    @include alignItemsCenter;
    
    transform-style: preserve-3d;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  
  	perspective: 2000px;
  	-webkit-perspective: 2000px;
  	-moz-perspective: 2000px;
}