.book {
    background-color: #e0ddd8;
    border-radius: 8px;
    box-shadow: 2px 2px 11px 0.5px black; 
    width: 372px;
    height: 482px;
    position: relative;
    
    @media (max-width: 900px) {
        height: 328px;
        width: 248px;
    }
    
    @media (max-width: 700px) {
        height: 246px;
        width: 186px;
    }
    
    @media (max-width: 500px) {
        height: 148px;
        width: 124px;
    }
}

.bookLeft {
    border-left: 3px solid BurlyWood;
    
    &--is-invisible {
        background: none;
        border: none;
        box-shadow: none;
    }
    
    &--undisplayed {
        display: none;
    }
}

.bookRight {
    border-right: 3px solid BurlyWood;
    &--is-animated-to-right {
        animation: toTheRight 1s ease-in-out forwards;
    }
    
    &--is-animated-to-left {
        animation: toTheLeft 1s ease-in-out forwards;
    }
}

.cover {
        border-radius: 8px;
        background-image: url('../images/cover/cover.svg');
        background-size: cover;
        background-repeat: no-repeat;
        border-right: none;
    }

@keyframes toTheRight {
    to {
        transform: translateX(50%);
    }
}

@keyframes toTheLeft {
    to {
        transform: translateX(-50%);
    }
}